{{ define "main" }}
<article itemscope itemtype="http://schema.org/Article" class="container" id="main">
  <h1 itemprop="name" class="title">{{.Title}}</h1>
  <div class="row">
    {{if .Params.displaytoc}}
    <div class="column" id="zonemenu">
      {{ .TableOfContents }}
    </div>
    {{end}}
    {{ if .Params.apropos }}
    <div class="column column-75">
      {{  .Params.apropos | safeHTML }}
    </div>
    {{ end }}
  </div>
  {{ with .Params.subtitle }}
  <span class="subtitle">{{.}}</span>
  {{ end }}
  <section itemprop="content">
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}
  </section>
</article>
{{ end }}
