<footer>
  <section class="container">
    <p>
      Designed with ♥ by {{ .Site.Author.name }}. {{ .Site.Author.copyright}}
    </p>
    <p>Last update: {{ now.Format "January 2, 2006"}}</p>
    <div class="row">
      <div class="col-4">
          Miscelanous
          <ul>
              <li> Legal</li>
              <li> About</li>
          </ul>
      </div>
      <div class="col-4">
          Social networks:
          <ul>
              <li>Facebook</li>
          </ul>
      </div>
      <div class="col-4">
        Last post
        <ul>
          {{$posts := ($.Site.GetPage "section" "blog").Pages.ByPublishDate.Reverse}}
          <!--Grab the most recent-->
          {{ range first 4 $posts }}
          <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
          </li>
          {{ end }}
        </ul>    
      </div>  
    </div>
  </section>
</footer>